@import 'bootstrap';

$pink: #ffddff;
$red: #ff3366;
$green: #ccffcc;

body {
  background-color: #ffffee;
  word-break: break-all;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

footer {
    text-align: center;
    margin-top: 10px;
    background-color: #ccffff;
    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        p {
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
    .copy {
        border-top: 1px solid #999999;
    }
}

//アイコン
.user-icon {
    border-radius: 50%;
    margin-bottom: 20px;
    margin-right: 5px;
}

.upload_icon {
  text-align: center;
}

//コメント

.balloon {
    position: relative;
    display: inline-block;
    margin: 0.5em 30px 1.1em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: $pink;
    word-break: break-all;
    p {
      margin: 0;
      padding: 0;
    }
}

.balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid $pink;
}

//捜索願
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.wanted_title {
    border-top: 3px solid green;
    border-bottom: 3px solid green;
    text-align: center;
}

strong {
  border-top: 5px dotted $red;
  border-bottom: 5px dotted $red;
}

.wanted-content {
  h3 {
    font-size: 18px;
    padding: 0.5em;
    color: #555;
    background: #eaf3ff;
    border-bottom: solid 3px #516ab6;
  }
  p {
    margin: 0;
    padding: 0;
  }
}

//協力ボタン
.async_cooperation {
  margin-top: 20px;
  .cooperating_btn {
    background: #00ffcc;
  }
  .not_cooperate_btn {
    background: #ff82b2;
  }
}

//捜索願画像表示
.wanted-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  a {
    margin-bottom: 30px;
    p {
    margin: 0;
    padding: 0;
    }
  }
}

.wanted-image::after {
  display: block;
  content:"";
  width: 250px;
}

//GoogleMap
#gmap_wrapper {
  width: 100%;
  padding-top: 50%;
  position: relative;
  margin: auto;
  #map {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

//mypage
.user-data {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  h3 {
    margin-left: 20px;
    margin-top: 20px;
  }
}

.tab-list {
  display: flex;
  justify-content: center;
  .tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 2px #ccc;
  border-bottom: solid 2px #ccc;
  }
  .tab:first-child {
    border-left: none;
  }
  // タブがactiveのときのデザイン
  .tab-active {
    color: #fff;
    background: #2C7CFF;
    transition: all 0.2s ease-in-out;
  }
}

// タブの中身、最初は非表示
.tab-content {
  display: none;
  padding: 15px;
}

// box-showクラスのものだけ表示
.content-show {
  display: block;
}

// hover時のアクション
.tab:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

//捜索願提出画面
.upload_area {
  text-align: center;
}

//目撃証言
.testimony_area {
  border: 4px solid #bbbbbb;
  margin-top: 20px;
  .testimony_title {
    text-align: center;
    border-bottom: 4px solid #bbbbbb;
  }
  .testimony_content {
    position: relative;
    display: inline-block;
    margin: 0.5em 30px 1.1em 15px;
    padding: 7px 10px;
    min-width: 120px;
    max-width: 100%;
    color: #555;
    font-size: 16px;
    background: $pink;
    p {
      margin: 0;
      padding: 0;
      font-size: 12px;
      color: black;
    }
  }
}

//トークルーム
.room_list {
  text-align: center;
  background: $green;
  margin-top: 20px;
}

.room_title {
  text-align: center;
  background: $green;
  margin-top: 20px;
}